@tailwind base;
@tailwind components;
@tailwind utilities;

:root {

  --color-primary: #122c3b;
  --color-secondary: #6db3ef;
  --color-terciary: #1f5a7b ;

  --color-comp1: #fe9e02;
  --color-comp2: #d69b4c;


  --color-accent: #000000;
  --color-text: #2D3748;
  --color-background: #F7FAFC;
  --color-card: #FFFFFF;
}

/* Aplicar la paleta de colores a Tailwind */
@layer base {
  body {
    background-color: var(--color-background);
    color: var(--color-text);
    font-family: 'Inter', sans-serif;
    /* Fuente principal */
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--color-primary);
    font-weight: bold;
  }

  a {
    color: var(--color-accent);
    transition: color 0.3s ease;
  }

  a:hover {
    color: var(--color-secondary);
  }

  /* Estilos para tarjetas y secciones */
  .card {
    background-color: var(--color-card);
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 1.5rem;
  }

  /* Estilos para botones */
  .btn {
    background-color: var(--color-accent);
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }

  .btn:hover {
    background-color: var(--color-secondary);
  }

  @font-face {
    font-family: 'Ireca-Regular';
    src: url('/fonts/Ireca-Regular.ttf') format('truetype');
    /* .ttf */
    font-weight: normal;
    font-style: normal;
  }

  /* Aplica la fuente globalmente */
  body {
    font-family: 'Ireca-Regular', sans-serif;
  }

}